<html lang = "en" xmlns:th="http://thymeleaf.org">
	<body>
	
				<footer style = "background-color: #2e2e2e;" id = "footer" th:fragment="footerFragment">
                    
                    <section class = "row">
                        
                        
                        <article class="col-lg-4 col-md-4 col-sm-12">
                        	<center>
                            <h5>Location</h5>
                            <p>Northern Ireland<p>
                            </center>
                        </article>
                        
                        
                        
                        <article class="col-lg-4 col-md-4 col-sm-12">
                        	<center>
                        		<h5>N.I MLAS</h5>
                        	</center>
                        </article>
                        
                        
                        
                        <article class="col-lg-4 col-md-4 col-sm-12">
                        	<center>
                            <h5>Social Media</h5>
                            <a href="#" target="_blank"><img src="/img/social/twitter.png" alt="Twitter" style="width:42px;height:42px;border:0;"></a>
                            <a href="#" target="_blank"><img src="/img/social/linkedin.png" alt="LinkedIn" style="width:42px;height:42px;border:0;"></a>
                        	</center>
                        </article>
                        
                    </section>
				
				</footer>
	
	</body>
</html>