<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/styles.css"/>
		<link href = "https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"/>
		<title>Home page</title>
	</head>
	<body>
	
	
			<div style = "background-color: #62ddd7;" class="jumbotron text-center">
				<h1 class="display-4">Titanic Website</h1>
			</div>
			
			<nav th:replace="layouts/nav :: navFragment">
			
			</nav>
		
		<div class = "container-fluid">
	
			<div id = "mainContent">
			
				<section class = "row">
				
					<article class = "col-lg-4 col-md-4 col-sm-12">
						<img class="d-block w-100" src="img/interactivity.png" alt="Third slide">
						<h2>An Interactive Experience</h2>
						<p>Titanic Belfast allows you to experience life on board the ship by using interactive technology. Have your photograph taken and choose your background as if you were actually there.</p>
					</article>
					
					<article class = "col-lg-4 col-md-4 col-sm-12">
						<img class="d-block w-100" src="img/titanicSinking.jpg" alt="Third slide">
						<h2>Welcome to Titanic Belfast</h2>
						<p>Titanic Belfast tells the story of the most famous ship in the world through the eyes of those that built it and those who sailed on the ship.</p>
					</article>
					
					<article class = "col-lg-4 col-md-4 col-sm-12">
						<img class="d-block w-100" src="img/stairway.png" alt="Third slide">
						<h2>A beautiful interior</h2>
						<p>At Titanic Belfast we have faithfully created an exact replica of the starway leading down to the first class dining area.</p>
					</article>
				
				</section>
				
				<hr/>
				
				<section class= "row">
					<article class = "col-12">
					
					<h2>Search Passenger List</h2>
					<p>Use the forms below to search through the passengers on the Titanic.</p>
					
						<form action="/searchid" method="get">
						<div class="form-group">
							<label>ID</label>
							<input name="id" type="text" class="form-control" placeholder="Enter an id to search"/>
							<button type="submit" class = "btn btn-primary">Search</button>
						</div>
						</form>
						
						<form action="/searchname" method="get">
						<div class="form-group">
							<label>Name</label>
							<input name="name" type="text" class="form-control" placeholder="Enter a name to search"/>
							<button type="submit" class = "btn btn-primary">Search</button>
						</div>
						</form>
						
						<form action="/searchsex" method="get">
						<div class="form-group">
							<label>Name</label>
							<input name="sex" type="text" class="form-control" placeholder="Enter a sex to search"/>
							<button type="submit" class = "btn btn-primary">Search</button>
						</div>
						</form>
						
					</article>
				</section>
				
			</div>
			
		</div>
		
		<nav th:replace="layouts/footer :: footerFragment">
			
		</nav>
		
		
		
		<script src="js/jquery.slim.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>