<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<link rel="stylesheet" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../css/styles.css"/>
		<link href = "https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"/>
		<title th:text=${pageTitle}>Passenger Page</title>
	</head>
	<body>
	
			<div style = "background-color: #62ddd7;" class="jumbotron text-center">
				<h1 th:text="${pageTitle}" class="display-4">Passengers</h1>
			</div>

			<nav th:replace="layouts/nav :: navFragment">
			
			</nav>
		
		<div class = "container-fluid">
		
			<div id = "mainContent">
				
				<section class= "row">
					<article class = "col-12">
						
						<div class="alert alert-success" role ="alert" th:if="${message}">
							<p th:text="${message} + ': ' + ${messageId}"></p>
						</div>
						
						<table class = "table table-striped">
							<thead>
								<tr>
									<th>PassengerId</th>
									<th>Survived</th>
									<th>Pclass</th>
									<th>Name</th>
									<th>Sex</th>
									<th>Age</th>
									<th>SibSp</th>
									<th>Parch</th>
									<th>Ticket</th>
									<th>Fare</th>
									<th>Cabin</th>
									<th>Embarked</th>
									<th>Controls</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="passenger: ${Passengers}">
									<td th:text=${passenger.passengerId}></td>
									<td th:text=${passenger.survived}></td>
									<td th:text=${passenger.pClass}></td>
									<td th:text=${passenger.name}></td>
									<td th:text=${passenger.sex}></td>
									<td th:text=${passenger.age}></td>
									<td th:text=${passenger.sibSp}></td>
									<td th:text=${passenger.parch}></td>
									<td th:text=${passenger.ticket}></td>
									<td th:text=${passenger.fare}></td>
									<td th:text=${passenger.cabin}></td>
									<td th:text=${passenger.embarked}></td>
									<td><a href="" th:href="@{/view/}+${passenger.passengerId}">View</a><a href=""> Edit</a><a style="color:red;" href="" th:href="@{/delete/}+${passenger.passengerId}"> Delete</a></td>
								</tr>
							</tbody>
						</table>
						
						
					</article>
				</section>
				
			</div>
			
		</div>
		<nav th:replace="layouts/footer :: footerFragment">
			
		</nav>
		
		<script src="js/jquery.slim.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>