<html lang = "en" xmlns:th="http://thymeleaf.org">
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navFragment">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav nav-fill w-100">
				      <li class="nav-item active">
				        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="/weather/belfast">Weather<span class="sr-only">(current)</span></a>
				      </li>
				      
				      
				      <li class="nav-item dropdown">
				   	  	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				      		Select a City
				      	</a>
				      	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				      		<a class="dropdown-item" href="/weather/belfast">Belfast</a>
				      		<a class="dropdown-item" href="/weather/dublin">Dublin</a>
				      		<a class="dropdown-item" href="/weather/london">London</a>
				      		
				      	</div>
				      </li>
				      
				      <form action="/searchname" method="get" class="form-inline my-2 my-lg-0">
				      <input name="location" class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search">
				      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				    </form>
				    </ul>
				  </div>
				</nav>
	</body>
</html>

