<html lang = "en" xmlns:th="http://thymeleaf.org">
	<body>
	
				<footer id = "footer" th:fragment="footerFragment">
                    
                    <section class = "row">
                        
                        <article class="col-lg-4 col-md-4 col-sm-12">
                            <h5>Location</h5>
                            <p>Belfast <br> Northern Ireland<p>
                        </article>
                        
                        <article class="col-lg-4 col-md-4 col-sm-12">
                            
                        </article>
                        
                        <article class="col-lg-4 col-md-4 col-sm-12">
                            <h5>Social Media</h5>
                            <a href="https://twitter.com/michaelcoey" target="_blank"><img src="img/social/twitter.png" alt="Twitter" style="width:42px;height:42px;border:0;"></a>
                            <a href="https://uk.linkedin.com/in/michael-coey-9a5a5aba" target="_blank"><img src="img/social/linkedin.png" alt="Twitter" style="width:42px;height:42px;border:0;"></a>
                        </article>
                        
                    </section>
				
				</footer>
	
	</body>
</html>