<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/styles.css"/>
		<link href = "https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"/>
		<title>View Event</title>
	</head>
	<body>
	
			<div style = "background-color: #62ddd7;" class="jumbotron text-center">
				<h1 class="display-4">View Event</h1>
			</div>

			<nav th:replace="layouts/nav :: navFragment">
			
			</nav>
		
		<div class = "container-fluid">
		
			<div id = "mainContent">
				
				<section class= "row">
					<article class = "col-12">
						
						<table class = "table table-striped">
							<thead>
								<tr>
									<th>Column</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Passenger ID</td>
									<td th:text=${passenger.passengerId}></td>
								</tr>
								
								<tr>
									<td>Survived</td>
									<td th:text=${passenger.survived}></td>
								</tr>
									
								<tr>
									<td>Passenger Class</td>
									<td th:text=${passenger.pClass}></td>
								</tr>
									
								<tr>
									<td>Name</td>
									<td th:text=${passenger.name}></td>
								</tr>
								
								<tr>
									<td>Sex</td>
									<td th:text=${passenger.sex}></td>
								</tr>
								
								<tr>
									<td>Age</td>
									<td th:text=${passenger.age}></td>
								</tr>
									
								<tr>
									<td>SibSp</td>
									<td th:text=${passenger.sibSp}></td>
								</tr>
									
								<tr>
									<td>Parch</td>
									<td th:text=${passenger.parch}></td>
								</tr>
								
								<tr>
									<td>Ticket</td>
									<td th:text=${passenger.ticket}></td>
								</tr>
								
								<tr>
									<td>Fare</td>
									<td th:text=${passenger.fare}></td>
								</tr>
								
								<tr>
									<td>Cabin</td>
									<td th:text=${passenger.cabin}></td>
								</tr>
									
								<tr>
									<td>Embarked</td>
									<td th:text=${passenger.embarked}></td>
								</tr>
							</tbody>
						</table>
						
						
					</article>
				</section>
				
			</div>
			
		</div>
		<nav th:replace="layouts/footer :: footerFragment">
			
		</nav>
		
		<script src="/js/jquery.slim.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>