<!Doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/styles.css"/>
		<link href = "https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"/>
		<title>TSC</title>
	</head>
	<body>
	
		<div class="jumbotron text-center">
			<h1 class="display-4">Movie Characters</h1>
		</div>
		
		<nav th:replace="layouts/nav :: navFragment">
			
		</nav>
		
		<div class = "container-fluid">
					
					
					<div class = "row">
					
						<div class="card" style="margin-right:30px; width: 18rem;" th:each="cast: ${toyStoryCast}">
							  <img class="card-img-top" src="../static/img/Woody.png" th:src="@{/img/}+${cast.image}">
							  <div class="card-body">
							    <h5 class="card-title" th:text=${cast.character}>Card title</h5>
							    <p class="card-text" th:text=${cast.author}>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							  </div>
							</div>
							
							<p>This application was devleoped at:</p>
							
							<p th:utext="${locationFrame}"></p>
							
					</div>
					
					<p>This application was developed at:</p>
							
							<p th:utext="${locationFrame}"></p>
					
					

		
		</div>
		
		<script src="js/jquery.slim.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>