<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/styles.css"/>
		<link href = "https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"/>
		<title th:text=${pageTitle}>Disney Dwarfs page</title>
	</head>
	<body>
	
			<div class="jumbotron text-center">
				<h1 class="display-4">Disney Dwarfs</h1>
			</div>

			<nav th:replace="layouts/nav :: navFragment">
			
			</nav>
		
		<div class = "container-fluid">
		
			<div id = "mainContent">
				
				<section class= "row">
					<article class = "col-12">
						
						<table class = "table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Author</th>
									<th>Image</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="dwarf: ${disneyDwarfs}">
									<td th:text=${dwarf.name}>Happy</td>
									<td th:text=${dwarf.author}>Disney</td>
									<td><img src="../static/img/Happy.png" th:src="@{/img/}+${dwarf.image}"></td>
								</tr>
							</tbody>
						</table>
						
						
					</article>
				</section>
				
			</div>
			
		</div>
		
		
		
		<script src="js/jquery.slim.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>