<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/styles.css"/>
		<link href = "https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"/>
		<title>Home page</title>
	</head>
	<body>
	
	
			<div style = "background-color: #62ddd7;" class="jumbotron text-center">
				<h1 class="display-4">Cereal Website</h1>
			</div>
			
			<nav th:replace="layouts/nav :: navFragment">
			
			</nav>
		
		<div class = "container-fluid">
	
			<div id = "mainContent">
			
				<section class = "row">
				
				</section>
				
				<hr/>
				
				<section class= "row">
					<article class = "col-12">
					
					<h2>Search Cereal List</h2>
					<p>Use the forms below to search through the cereals and their values.</p>
					
						<form action="/searchid" method="get">
						<div class="form-group">
							<label>ID</label>
							<input name="id" type="text" class="form-control" placeholder="Enter an id to search"/>
							<button type="submit" class = "btn btn-primary">Search</button>
						</div>
						</form>
						
						<form action="/searchmanufacturer" method="get">
						<div class="form-group">
							<label>Name</label>
							<input name="manufacturer" type="text" class="form-control" placeholder="Enter a manufacturer to search"/>
							<button type="submit" class = "btn btn-primary">Search</button>
						</div>
						</form>
						
					</article>
				</section>
				
			</div>
			
		</div>
		
		<nav th:replace="layouts/footer :: footerFragment">
			
		</nav>
		
		
		
		<script src="js/jquery.slim.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>