<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/styles.css"/>
		<link href = "https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"/>
		<title th:text=${pageTitle}>View Page</title>
	</head>
	<body>
	
			<div style = "background-color: #62ddd7;" class="jumbotron text-center">
				<h1 th:text="${pageTitle}" class="display-4">View</h1>
			</div>

			<nav th:replace="layouts/nav :: navFragment">
			
			</nav>
		
		<div class = "container-fluid">
		
			<div id = "mainContent">
				
				<section class= "row">
					<article class = "col-12">
						
						<table class = "table table-striped">
							<thead>
								<tr>
									<th>Column</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Cereal ID</td>
									<td th:text=${cereal.cerealId}></td>
								</tr>
								
								<tr>
									<td>Manufacturer</td>
									<td th:text=${cereal.manufacturer}></td>
								</tr>
									
								<tr>
									<td>Cereal</td>
									<td th:text=${cereal.cereal}></td>
								</tr>
									
								<tr>
									<td>Energy</td>
									<td th:text=${cereal.energy}></td>
								</tr>
								
								<tr>
									<td>Calories</td>
									<td th:text=${cereal.calories}></td>
								</tr>
								
								<tr>
									<td>Protein</td>
									<td th:text=${cereal.protein}></td>
								</tr>
									
								<tr>
									<td>Carbohydrate</td>
									<td th:text=${cereal.carbohydrate}></td>
								</tr>
									
								<tr>
									<td>Sugars</td>
									<td th:text=${cereal.sugars}></td>
								</tr>
								
								<tr>
									<td>Fat</td>
									<td th:text=${cereal.fat}></td>
								</tr>
								
								<tr>
									<td>Saturates</td>
									<td th:text=${cereal.saturates}></td>
								</tr>
								
								<tr>
									<td>Fibre</td>
									<td th:text=${cereal.fibre}></td>
								</tr>
									
								<tr>
									<td>Sodium</td>
									<td th:text=${cereal.sodium}></td>
								</tr>
								
								<tr>
									<td>Salt</td>
									<td th:text=${cereal.salt}></td>
								</tr>
								
								<tr>
									<td>Iron</td>
									<td th:text=${cereal.iron}></td>
								</tr>
							</tbody>
						</table>
						
						
					</article>
				</section>
				
			</div>
			
		</div>
		<nav th:replace="layouts/footer :: footerFragment">
			
		</nav>
		
		<script src="js/jquery.slim.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>