<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<link rel="stylesheet" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../css/styles.css"/>
		<link href = "https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"/>
		<title th:text=${pageTitle}>Dwarfs page</title>
	</head>
	<body>
	
			<div style = "background-color: #62ddd7;" class="jumbotron text-center">
				<h1 th:text="${pageTitle} + ' ' + Dwarfs" class="display-4">Edit</h1>
			</div>

			<nav th:replace="layouts/nav :: navFragment">
			
			</nav>
		
		<div class = "container-fluid">
		
			<div id = "mainContent">
				
				<section class= "row">
					<article class = "col-12">
						
						<form class = "form-horizontal" th:action="@{/save}" method="post">
						

						<table class = "table table-striped">
							<thead>
								<tr>
									<th>Column</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								
								<td>ID</td>
								<td><input type ="text" readonly="readonly" th:field = "${dwarf.dwarfId}"></input></td>
								
								</tr>
								
								<tr>
								<td>Name</td>
								<td><input type="text" class = "form-control" th:field = "${dwarf.name}"></input>
								<span style="color:red;" th:if="${#fields.hasErrors('dwarf.name')}" th:errors="${dwarf.name}"
								th:class="help-block">Not empty</span>
								</td>
								</tr>
								
								<tr>
								<td>Author</td>
								<td><input type="text" class = "form-control" th:field = "${dwarf.author}"></input></td>
								</tr>
								
								<tr>
								<td>Image</td>
								<td><input type="text" class = "form-control" th:field = "${dwarf.image}"></input></td>
								</tr>
								
							</tbody>
						</table>
						
						<button type="submit" class="btn btn-primary">Save</button>
						
						</form>
						
					</article>
				</section>
				
			</div>
			
		</div>
		<nav th:replace="layouts/footer :: footerFragment">
			
		</nav>
		
		<script src="js/jquery.slim.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>