<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/styles.css"/>
		<link href = "https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet"/>
		<title>Weather</title>
	</head>
	<body>
	
			<div style = "background-color: #62ddd7;" class="jumbotron text-center">
				<h1  class="display-4">Weather</h1>
			</div>
			
			<div class="alert alert-success" role ="alert" th:if="${message}">
				<p ></p>
			</div>

			<nav th:replace="layouts/nav :: navFragment">
			
			</nav>
		
		<div class = "container-fluid">
		
			<div id = "mainContent">
				
				<section class= "row">
					<article class = "col-12">
						
						
						<table class = "table table-striped">
							<thead>
								<tr>
									<th>City</th>
									<th>Latitude</th>
									<th>Longitude</th>
									<th>Description</th>
									<th>Precipitation</th>
									<th>Temperature</th>
									<th>Humidity</th>
									<th>Pressure</th>
									<th>Cloud Cover</th>
									<th>Speed</th>
									<th>Direction</th>
									<th>Image</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text=${todaysWeather.location.name}>Location</td>
									<td th:text=${todaysWeather.location.latitude}>Location</td>
									<td th:text=${todaysWeather.location.longitude}>Location</td>
									<td th:text=${todaysWeather.weather.description}>Location</td>
									<td th:text=${todaysWeather.weather.precipitation}>Location</td>
									<td th:text=${todaysWeather.weather.temperature}>Location</td>
									<td th:text=${todaysWeather.weather.humidity}>Location</td>
									<td th:text=${todaysWeather.weather.pressure}>Location</td>
									<td th:text=${todaysWeather.weather.cloudcover}>Location</td>
									<td th:text=${todaysWeather.weather.wind.speed}>Location</td>
									<td th:text=${todaysWeather.weather.wind.direction}>Location</td>
									<td><img src="" th:src ="${todaysWeather.weather.image}"/></td>
								</tr>
							</tbody>
						</table>
						
					</article>
				</section>
				
			</div>
			
		</div>
		<nav th:replace="layouts/footer :: footerFragment">
			
		</nav>
		
		<script src="/js/jquery.slim.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>