<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet">
<title th:text="${pageTitle}">Titanic</title>
</head>
<body>
	<div class="container">
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<div class="jumbotron jumbotron-fluid">
			<div class="container text-center">

				<h1 th:text="${passenger.name}" class="display-4">Titanic
					Passengers</h1>


			</div>
		</div>

		<div class="container" style="text-align: center">
			<center>
				<div class="card col-lg-4 text-center">
					<p>
						<strong> Passenger ID: <br />
						</strong>
					</p>
					<h2 class="card-title text-center"
						th:text="${passenger.passengerId}"></h2>
					<hr>
					<div class="card-body">
						<div class="row" style="text-align: center">
							<p>
								<strong> Survived: <br />
								</strong>
							</p>
							<p class="card-text" th:text="${passenger.survived}"></p>
						</div>
						<div class="row" style="text-align: center">
							<p>
								<strong>Age: <br />
								</strong>
							</p>
							<p class="card-text" th:text="${passenger.age}"></p>
						</div>

						<div class="row" style="text-align: center">
							<p>
								<strong> Ticket: <br />
								</strong>
							</p>
							<p class="card-text" th:text="${passenger.ticket}"></p>
						</div>

						<div class="row">
							<p>
								<strong> Fare: <br />
								</strong>
							</p>
							<p class="card-text" th:text="${passenger.fare}"></p>
						</div>

						<div class="row" style="text-align: center">
							<p>
								<strong> Cabin: <br />
								</strong>
							</p>
							<p class="card-text" th:text="${passenger.cabin}"></p>
						</div>

						<div class="row" style="text-align: center">
							<p>
								<strong> Embarked: <br />
								</strong>
							</p>
							<p class="card-text" th:text="${passenger.embarked}"></p>
						</div>

						<div class="row" style="text-align: center">
							<p>
								<strong> Parch: <br />
								</strong>
							</p>
							<p class="card-text" th:text="${passenger.parch}"></p>
						</div>

						<div class="row" style="text-align: center">
							<p>
								<strong> Sibling/Spouse: <br />
								</strong>
							</p>
							<p class="card-text" th:text="${passenger.sibSp}"></p>
						</div>

						<div class="row" style="text-align: center">
							<p>
								<strong> Class: <br />
								</strong>
							</p>
							<p class="card-text" th:text="${passenger.pClass}"></p>
						</div>


						<br />
					</div>
				</div>
				<br />
			</center>
		</div>
		<footer class="section footer-classic context-dark bg-image"
			style="background: #204060;">
			<div class="container">
				<center>
					<div class="row row-30">

						<div class="col-md-4">
							<br>
							<h5>Plan Your Trip</h5>
							<ul class="nav-list">
								<li><a href="#">Areas</a></li>
								<li><a href="#">Getting Around</a></li>
								<li><a href="#">Maps</a></li>
								<li><a href="#">Travel Tips</a></li>

							</ul>

						</div>
						<div class="col-md-4">
							<br>
							<h5>Stay</h5>
							<ul class="nav-list">
								<li><a href="#">Camping</a></li>
								<li><a href="#">Guest Houses</a></li>
								<li><a href="#">Hostels</a></li>
								<li><a href="#">Hotels</a></li>
							</ul>
						</div>
						<div class="col-md-4">
							<br>
							<h5>Contact Us</h5>
							<dl class="contact-list">
								<dt>Address:</dt>
								<dd>
									Queens Road, Belfast,<br> BT1 1TD
								</dd>
							</dl>
							<dl class="contact-list">
								<dt>email:</dt>
								<dd>
									<a href="mailto:#">ExploreBelfast.com</a>
								</dd>
							</dl>
							<dl class="contact-list">
								<dt>Phone:</dt>
								<dd>
									<a href="tel:#">(028) 90123456</a>
								</dd>
							</dl>
						</div>
					</div>
				</center>
			</div>

		</footer>

	</div>

	<script src="js/jquery.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>


</body>
</html>